<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ftf.phi" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.ftf.phi.pages.Accounts"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ftf.phi.pages.Feed">
        </activity>
        <activity
            android:name="com.ftf.phi.pages.FriendCamera">
        </activity>
        <activity
            android:name="com.ftf.phi.pages.FriendQR">
        </activity>
        <activity
            android:name="com.ftf.phi.pages.Message">
        </activity>
        <activity
            android:name="com.ftf.phi.pages.Messages">
        </activity>
        <activity
            android:name="com.ftf.phi.pages.Settings">
        </activity>
    </application>
</manifest>
